<nav>
    <div>
        <header>
            <div class="bg-gray-800 flex justify-between p-4" style="flex-wrap:wrap;">
                <div class="flex"><div><a href="/"><img src="images/logo.png" alt="Logo" width="40" height="40"></div>
                <div class="p-2"><h1 class="text-lg font-medium text-white">BudgetExpress<i class="text-red-600">24</i></h1></div></div>
                <nav class="flex justify-center items-center" style="flex-wrap:wrap;">
                    <a href="/wynajem" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Samochody na wynajem</a>
                    <a href="/oferty" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Oferty</a>
                    <a href="/firma" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">O nas</a>
                    <a href="/pytania" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">FAQ</a>
                    <a href="/regulamin" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Regulamin</a>
                    <a href="/kontakt" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Kontakt</a>
  				    <script>
    				    var isLoggedIn = false; // Zmiana wartości na true, jeśli użytkownik jest zalogowany
    				    var userName = "admin"; // Wprowadź nazwę użytkownika

    				    if (isLoggedIn) {
      				    document.write(`<a href="./wylogowano" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Wyloguj się z <i class="text-red-600"><b>${userName}</b></i></a>`);
    				    } else {
      				    document.write(`<a href="./zalogowano" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Zaloguj się</a>`);
    				    }
  				    </script>
                </nav>
            </div>
            <div class="bg-gray-500 flex justify-between p-2" style="flex-wrap:wrap;">
                <div class="p-2"><a href="/" class="text-lg font-medium text-white">Panel<i class="text-red-600">Admina</i></a></div>
                <nav class="flex justify-center items-center" style="flex-wrap:wrap;">
                    <a href="/list_klienci" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Klienci</a>
                    <a href="/list_rezerwacje" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Rezerwacje</a>
                    <a href="/list_samochody" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Samochody</a>
                    <a href="/list_ubezpieczenia" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Ubezpieczenia</a>
                    <a href="/list_wypozyczenia" class="p-2 rounded-md text-white hover:bg-gray-700 duration-150">Raporty</a>
                </nav>
            </div>
        </header>
    </div>
</nav>

<!--<img class=" 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 100%; 
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;" src="images/banner2.png" alt="tło">-->

<!--<div style="
    background-image: url('images/banner2.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 100%; 
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    "></div>-->

