<!DOCTYPE html>
<div th:replace="partials/head.html :: head"></div>
<body>
	<div th:replace="partials/navi.html :: header"></div>
	<div class="flex flex-col items-center p-2">
		<b><h2 class="p-4 text-3xl">Edytuj klienta</h2></b>
		<br />
		<form action="#" th:action="@{/save_klienci}" th:object="${klienci}"
			method="post">
			<table>
				<tr>
					<td>Id klienta:</td>
					<td>
						<input type="text" th:field="*{id_klienta}" readonly="readonly" />
						<span class="error" th:if="${#fields.hasErrors('id_klienta')}" th:errors="*{id_klienta}">Nazwa</span>
					</td>
				</tr>
				<tr>
					<td>Imie:</td>
					<td>
						<input type="text" th:field="*{imie}" />
						<span class="error" th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}">Nazwa</span>
					</td>
				</tr>
				<tr>
					<td>Nazwisko:</td>
					<td>
						<input type="text" th:field="*{nazwisko}" />
						<span class="error" th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}">Nazwa</span>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
						<input type="text" th:field="*{email}" />
						<span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Nazwa</span>
					</td>
				</tr>
				<tr>
					<td>Numer telefonu:</td>
					<td>
						<input type="number" th:field="*{telefon}" />
						<span class="error" th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}">Nazwa</span>
					</td>
				</tr>
			</table>
			<button type="submit" class="text-white p-2 rounded-md bg-red-600 hover:bg-red-500 duration-150">Zapisz</button>
		</form>
	</div>
	<br>
	<br>
	<div th:replace="partials/footer.html :: footer"></div>
</body>
</html>