<!DOCTYPE html> 
<html lang="pl"> 
  <div th:replace="partials/head.html :: head"></div>
  <body class="bg-gray-100"> 
    <div th:replace="partials/navi.html :: header"></div>
    <div class="p-2 text-center text-xl"> 
      <br>
      <h1 class="text-3xl font-bold underline">O nas</h1> 
      <br><p>Jesteśmy najszybciej rozwijającą się firmą na pomorzu!
      <br>Mała grupka znajomych postanowiła założyć firmę na początku 2023 roku.
      <br>Wchodzimy na rynek z nowymi i innowacyjnymi pomysłami!
      <br>Nie boimy się kontrowersji - jesteśmy otwarci,
      <br>a możesz nas nawet lepiej poznać tu poniżej ;)
      </p>
      <br>
      <br>
      <h1 class="text-3xl font-bold underline">Najwyższa jakość</h1> 
      <br><p>Wypożyczalnia samochodów Car Net Polska cechuje się wysoką jakością 
      <br>oferowanych samochodów. Wszystkie nasze pojazdy są nowe: najstarszy model 
      <br>ma 2 lata. Ze szczególną starannością dbamy o sprawność techniczną pojazdów, 
      <br>dlatego stale przeprowadzamy przeglądy techniczne w autoryzowanych serwisach.
      </p>
      <br>
      <br>
      <h1 class="text-3xl font-bold underline">Dlaczego my?</h1> 
      <br><p>- Posiadamy nowe samochody
      <br>- Zapewniamy atrakcyjne ceny 
      <br>- Nasze samochody są bezpieczne
      <br>- Jesteśmy dostępni 24/7 jako jedyni w Trójmieście
      </p>
      <br>
      <br>
      <h3 class="text-3xl font-bold underline">Pracownicy:</h3>
      <br>
      <br><p><b>Dział Obsługi Klienta</b>
      <br>Barbara Kwiatkowska - księgowa - <i class="text-red-600">b.kwiatkowska@gmail.pl</i>
      <br>Aneta Nowak - asystentka - <i class="text-red-600">a.nowak@gmail.pl</i></p>
      <br>
      <br><p><b>Rozliczenia wynajmów i zwrot depozytu</b>
      <br>Barbara Kwiatkowska - księgowa - <i class="text-red-600">b.kwiatkowska@gmail.pl</i>
      <br>jakub Szczypiorek - asystent - <i class="text-red-600">j.szczypior@gmail.pl</i></p>
      <br>
      <br><p><b>Rezerwacje długoterminowe</b>
      <br>Paweł Frąckowiak - właściciel - <i class="text-red-600">p.frackowiak@gmail.pl</i>
      <br>Michał Łyszkiewicz - specjalista - <i class="text-red-600">mi.ly@gmail.pl</i></p>
      <br>
      <br><p><b>Dział reklamacji</b>
      <br>Damian Kowalski - mechanik - <i class="text-red-600">d.kowal@gmail.pl</i></p>
      <br>
      <br><p><b>Dział marketingu</b>
      <br>Filip Zabielski - tiktoker - <i class="text-red-600">f.topayrespect@gmail.pl</i>
      <br>Tomasz Działowy - youtuber - <i class="text-red-600">gimpur@gmail.pl</i></p>
      <br>
    </div> 
    <div th:replace="partials/footer.html :: footer"></div>
  </body> 
</html>