<!DOCTYPE html> 
<html lang="pl"> 
  <div th:replace="partials/head.html :: head"></div>
  <body class="bg-gray-100"> 
    <div th:replace="partials/navi.html :: header"></div>
    <div class="p-2 text-center text-xl"> 
      <br>
      <h1 class="text-3xl font-bold underline">Kontakt<i class="text-red-600">24</i></h1> 
      <br><p>Tutaj uzyskasz szybką pomoc, zawsze dostępną - 24/7 :3</p>
      <br>
      <br>
      <h3 class="text-3xl underline"><b>Jaki jest stan Twojego wynajmu?</b></h3>
      <br><p>Aby uzyskać najszybszą pomoc do konkretnego problemu, wybierz odpowiedni numer telefonu w stosunku do twojej aktualnej sytuacji:</p>
      <br><p>- brak rezerwacji: <i class="text-red-600">+48 886 270 120</i></p>
      <br><p>- przyszły wynajem: <i class="text-red-600">+48 670 211 343</i></p>
      <br><p>- w trakcie: <i class="text-red-600">+48 669 350 147</i></p>
      <br><p>- zakończone: <i class="text-red-600">+48 213 780 950</i></p>
      <br>
      <br>
      <h3 class="text-3xl underline"><b>Dane kontaktowe:</b></h3>
      <br><p><b>Dział Obsługi Klienta</b>
      <br>telefon: <i class="text-red-600">+48 601 803 803</i>
      <br>e-mail: kontakt@be.pl</p>
      <br>
      <br><p><b>Rozliczenia wynajmów i zwrot depozytu</b>
      <br>telefon: <i class="text-red-600">+48 629 780 780</i>
      <br>e-mail:  ksiegowosc@be.pl</p>
      <br>
      <br><p><b>Rezerwacje długoterminowe</b>
      <br>telefon: <i class="text-red-600">+48 502 114 300</i>
      <br>e-mail: oferta@be.pl</p>
      <br>
      <br><p><b>Dział reklamacji</b>
      <br>e-mail:  reklamacje@be.pl</p>
      <br>
      <br><p><b>Dział marketingu</b>
      <br>e-mail: marketing@be.pl</p>
      <br>
      <br>
      <h3 class="text-3xl underline"><b>Dane firmy:</b></h3>
      <br><p>BudgetExpress Sp. z o.o.
      <br>34-801 Gdynia,
      <br>ul. Kwiatkowskiego 14</p>
      <br>
      <br>
      <br><h3 class="text-3xl underline"><b>Adres do korespondencji:</b></h3>
      <br><p>ul. Podmiejska 4, 62-800 Kalisz
      <br>e-mail: kontakt@carnet.pl</p>
      <br>
      <br>
    </div> 
    <div th:replace="partials/footer.html :: footer"></div>
  </body> 
</html>