<!DOCTYPE html> 
<html lang="pl"> 
  <div th:replace="partials/head.html :: head"></div>
  <body class="bg-gray-100"> 
    <div th:replace="partials/navi.html :: header"></div>
    <div class="p-2 text-center text-xl"> 
      <br>
      <h1 class="text-3xl font-bold underline">FAQ</h1> 
      <br><p><b>- Czyli często zadawane pytania:</b>
      <br><p>Jesteśmy bardzo otwarci i przez to zasypujecie nas różnistymi pytaniami.
      <br>Postanowiliśmy zebrać te, które najczęściej się powtarzały.
      <br>W razie niejasności zadawajcie więcej pytań :D</p>
      <br>
      <br>
      <br><p><b>1. Jakie dokumenty muszę okazać w chwili wynajmu?</b>
      <br>Do wynajęcia samochodu potrzebne jest prawo jazdy ważne na terenie Polski, aktualny dokument tożsamości, kartę debetową/kredytową.</p>
      <br>
      <br>
      <br><p><b>2. Czy mogę posiadać zagraniczne prawo jazdy?</b>
      <br>Nie ma problemu by wydać samochód osobie z zagranicznym prawem jazdy jeśli kraj którego prawem jazdy będziesz się legitymować znajduje się na liście poniżej :
      <br>Albania, Austria, Bahamy, Bahrajn, Białoruś, Belgia, Bośnia i Hercegowina, Brazylia, Bułgaria, Cypr, Chorwacja, Czechy, Dania, Demokratyczna Republika Konga, Estonia, Filipiny, Finlandia, Francja, Grecja, Gruzja, Gujana, Hiszpania, Holandia, Iran, Irlandia, Islandia, Izrael, Kazachstan, Korea Południowa, Kuba, Kuwejt, Lichtenstein, Litwa, Luksemburg, Łotwa, Macedonia, Malta, Maroka, Monako, Mongolia, Niemcy, Niger, Norwegia, Pakistan, Polska, Portugalia, Republika Mołdawii, Republika Środkowej Afryki, Republika Południowej Afryki, Rosja, Rumunia, San Marino, Senegal, Seszele, Słowacja, Słowenia, Szwajcaria, Szwecja, Tadżykistan, Turkmenistan, Ukraina, Urugwaj, Uzbekistan, Węgry, Wielka Brytania, Włochy, Wybrzeże Kości Słoniowej, Zimbabwe.
      <br>
      <br>Wyjątek stanowią osoby posługujące się prawem jazdy wydanym m.in. w USA, Kanadzie, Japonii, Australii i Turcji muszą posiadać również prawo jazdy międzynarodowe.</p>
      <br>
      <br>
      <br><p><b>3. Jakie są godziny pracy wypożyczalni i czy w weekendy stawki są wyższe?</b>
      <br>Nie mamy określonych ram czasowych pracy, to klienci wyznaczają nam te godziny - jeśli Twój samolot ląduje około północy to nie jest dla nas żaden problem.
      <br>Ceny samochodów wydawanych i zwracanych w godzinach 21:00-07:00 są powiększone jednorazowo jedynie o 30 zł.
        Pracujemy również w weekendy bez doliczania specjalnych opłat.</p>
      <br>
      <br>
      <br><p><b>4. Czy jest limit wiekowy osoby wynajmującej samochód?</b>
      <br>Tak, minimalny wiek to 20 lat i posiadanie prawa jazdy co najmniej od roku czasu.</p>
      <br>
      <br>
      <br><p><b>5. Czy pobierane są dodatkowe koszty?</b>
      <br>Nie pobieramy dodatkowych opłat. Całkowitą wycenę otrzymują Państwo w trakcie rezerwacji samochodu.</p>
      <br>
      <br><p><b>6. Czy samochód może prowadzić inna osoba niż wskazana została w umowie najmu?</b>
      <br>Nie, samochód może prowadzić osoba która została uprawiona w umowie najmu samochodu.
        Istnieje możliwość dopisania do umowy dodatkowych kierowców co wiąże się z opłatą 15zł/doba (maksymalnie 90 zł).</p>
      <br>
      <br><p><b>7. Czy samochody posiadają limit kilometrów?</b>
      <br>Nie, samochodami z firmy BudgetExpress możesz zrobić tyle kilometrów ile potrzebujesz. W wypadku wynajmów długoterminowych limit ustalany jest indywidualnie (powyżej 1 miesiąca).</p>
      <br>
      <br><p><b>8. Czy mogę przedłużyć umowę?</b>
      <br>Możliwe jest przedłużenie wynajmu wyłącznie po wcześniejszym kontakcie z biurem jak 
      i dostępnością samochodu. Wiąże się to również z koniecznością rozliczenie za kolejny dzień najmu.</p>
      <br>
      <br><p><b>9. Jaka forma płatności jest akceptowana?</b>
      <br>Firma akceptuję płatność przelewem, kartą debetową/kredytową (MasterCard, Visa)
        Dane karty kredytowej muszą być zgodne z danymi w okazanym dokumencie tożsamości.</p>
      <br>
    </div> 
    <div th:replace="partials/footer.html :: footer"></div>
  </body> 
</html>
