<!DOCTYPE html> 
<html lang="pl"> 
  <div th:replace="partials/head.html :: head"></div>
  <body class="bg-gray-100"> 
    <div th:replace="partials/navi.html :: header"></div>
    <div class="p-2 text-center text-xl"> 
      <br>
      <h1 class="text-3xl font-bold underline">Regulamin wynajmu samochodów:</h1> 
      <br>
      <br>
      <h1><b>1. OGÓLNE WARUNKI WYNAJMU</b></h1>
      <br><p>- kierowca w chwili wynajmu samochodu musi posiadać ukończone 21 lat, oraz posiadać ważne prawo jazdy od minimum 1 roku.</p> 
      <br><p>- do wynajęcia samochodu niezbędny są dwa dokumenty tożsamości oraz karta kredytowa/płatnicza.</p>
      <br><p>- samochody wynajmowane są z pełnym zbiornikiem paliwa i z pełnym zbiornikiem paliwa powinny zostać zwrócone.</p>
      <br><p>- wszystkie wynajmy realizowane są bez dobowego limitu kilometrów, na terenie Polski.</p>
      <br><p>- podstawienie i odbiór samochodu w mieście Wołów I w obrębie 15 km jest bezpłatne przy wynajmie powyżej 3 dni.</p>
      <br>
      <br>
      <br>
      <h1><b>2. REZERWACJE I ANULACJE</b></h1>
      <br><p>- rezerwacji można dokonywać mailowo autowol@op.pl przez całą dobę lub telefonicznie w godzinach pracy biura.</p>
      <br><p>- anulacja rezerwacji zgłoszona przez klienta w terminie do 24 godzin przed planowanym wynajmem samochodu nie powoduje naliczenia żadnych opłat.</p>
      <br><p>- BudgetExpress Home zastrzega sobie prawo do odmowy wynajęcia samochodu w przypadku gdy klient dokonując rezerwacji podał nie prawdziwe dane osobowe.</p>
      <br>
      <br>
      <br>
      <h1><b>3. OPŁATY</b></h1>
      <br><p>- opłaty za wynajem pobierane są z góry wg obowiązującego w dniu najmu cennika wynajmu samochodów.</p>
      <br><p>- wszelkie opłaty związane z międzynarodowymi przelewami należności uiszczanych w ramach umowy najmu ponosi najemca.</p>
      <br><p>- czynsz za najem naliczany jest za pełną dobę, opóźnienie w zwrocie pojazdu przekraczające 3 godziny od ustalonego terminu zwrotu pojazdu powoduje naliczenie opłaty za kolejną pełną dobę najmu.</p>
      <br>
      <br>
    </div> 
    <div th:replace="partials/footer.html :: footer"></div>
  </body> 
</html>